@font-face {
    font-family:'BridgeType';
    src: local('BridgeType'), 
      url(./bridge_type-webfont.woff2) format('woff2'),
      url(./bridge_type-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
  }