@font-face {
    font-family:'Novarese-Bold';
    src: local('Novarese-Bold'), 
      url(./Novarese-Bold.woff2) format('woff2'),
      url(./Novarese-Bold.woff) format('woff');
    font-weight: normal;
    font-style: normal;
  }