.App {
  text-align: center;
  background-image: url("./background.jpg");
}

.specialFont {
  font-family: 'BridgeType', Arial, sans-serif;
}

.ag-theme-alpine .ag-header-cell-label {
  justify-content: center;
  font-size: medium;
}

.ag-theme-alpine .ag-ltr .ag-cell {
  font-size: medium;
}

.dropdown-menu {
  height: 420px;
  overflow-y: scroll;
}
