.App {
  text-align: center;
  background-image: url("./background.jpg");
}

.ag-theme-alpine .ag-header-cell-label {
  justify-content: center;
  font-size: large;
}

.ag-theme-alpine .ag-ltr .ag-cell {
  font-size: medium;
}
